<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-impac-keyboard" version="0.1.0">
    <name>impac-keyboard</name>

    <description>An Cordova plugin for iOS and Android that add a native keyboard for chats</description>
    <license>MIT</license>

    <keywords>cordova,android,ios,keyboard, chat</keywords>
    <repo>https://github.com/ImpacGroup/cordova-plugin-impac-keyboard.git</repo>
    <issue>https://github.com/ImpacGroup/cordova-plugin-impac-keyboard/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/impac-keyboard.js" name="impac-keyboard">
        <clobbers target="window.plugins.impacKeyboard" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ImpacKeyboard">
                <param name="ios-package" value="ImpacKeyboard"/>
            </feature>
        </config-file>
        <source-file src="src/ios/InputView.swift"/>
        <source-file src="src/ios/InputView.xib"/>
        <source-file src="src/ios/IMPKeyboardPlugin.swift"/>
        <source-file src="src/ios/UIColor-Extension.swift"/>
    </platform>

    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="ImpacKeyboard">
                <param name="android-package" value="de.impacgroup.cordovakeyboard.IMPChatkeyboard" />
            </feature>
        </config-file>

        <source-file src="src/android/IMPChatkeyboard.java" target-dir="src/de/impacgroup/cordovakeyboard"/>
        <source-file src="src/android/chat_input_view.xml" target-dir="res/layout"/>
        <framework src="androidx.constraintlayout:constraintlayout:1.1.3"/>
    </platform>

</plugin>
